<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!--Readify Token  -->
    <add key="Token" value="cbd0fd90-046e-4b8e-9cbf-d571c24de19c"/>
    <add key="UseToken" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRedPill" />
        <binding name="BasicHttpsBinding_IRedPill">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://knockknock.azurewebsites.net/RedPill.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRedPill"
        contract="ServiceReference1.IRedPill" name="BasicHttpBinding_IRedPill" />
      <endpoint address="https://knockknock.readify.net/RedPill.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IRedPill"
        contract="ServiceReference1.IRedPill" name="BasicHttpsBinding_IRedPill" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
